.news__section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;

}

.news_twitter{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.twitter-timeline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    height: 10vh;
    width: 100%;
    background-color: rgba(241, 11, 61, 0.822);
    
}

@media (max-width: 990px) {
    .news_twitter{
        display: block;
    }
    .one{
        margin-bottom: 20px;
    }
   
}

